{
  "overrides": [
    {
      "files": ["{.*,*}.js"],
      "options": {
        "singleQuote": true,
        "trailingComma": "none",
        "semi": false
      }
    },
    {
      "files": ["{.*,*}.ts"],
      "options": {
        "singleQuote": true,
        "trailingComma": "none",
        "semi": false
      }
    },
    {
      "files": ["*.scss"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}